
    <form (ngSubmit)="sendName()" [formGroup]="pokemonSearch">
     <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search Pokemon</mat-label>
                <input type="text" 
                matInput 
                placeholder="Pokemon Name..." 
                formControlName="pokemonName" 
                [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let pokemon of filteredOptions | async" [value]="pokemon.name" (click)="sendName()">
            {{pokemon.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </form>