.pokemon-item {
    display: flex;
    border-style: solid;
    width: 220px;
    height: 60px;
}

.pokemon-name {
    display: flex;
    align-items:flex-end; 
    margin:auto;
  
  
}

p {
    font-family: cursive;
    align-content: center;
    padding-top: 15px;;
}

.pokemon-sprite {
    
}