<div class="container">
    <!-- Button name Toggles between Add Team and Hide Form  -->
    <button mat-raised-button color="warn" (click)="hideAddButton()">{{addButtonText}}</button>
    <div class="team-registration" *ngIf="addButton">
        <form [formGroup]="addTeamForm">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>name</mat-label>
                <input type="text" matInput formControlName="name" placeholder="name...">
                <mat-error *ngIf="name.invalid && name.touched">
                    Please enter a valid name.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Photo URL</mat-label>
                <input type="text" matInput placeholder="photo..." formControlName="photo">
                <mat-error *ngIf="photo.invalid && photo.touched">
                    Please enter a valid photo url
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Trainer</mat-label>
                <mat-select formControlName="trainerId">
                    <mat-option *ngFor="let trainerItem of trainerList" [value]="trainerItem.id">
                        {{trainerItem.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="trainerId.invalid && trainerId.touched && trainerList.length > 0">
                    Please Choose A Trainer
                </mat-error>
                <mat-error *ngIf="trainerList.length <= 0">
                    No Valid Trainers - Create One To Continue
                </mat-error>
            </mat-form-field>

            <!-- Pokemon Search Box -->
            <app-pokemon-search (pokemonNameOutput)="onSearch($event)" (addPokemonOutput)="addPokemon()" [label]="searchLabel">
            </app-pokemon-search>
            <button mat-raised-button color="warn" (click)="addPokemon()" [disabled]="pokemonList.length >= 6">Add to
                slot: {{pokemonSlot}} </button>
            <button mat-raised-button color="warn" type="submit" (click)="onSubmit()"
                [disabled]="addTeamForm.invalid || pokemonList.length <= 0">Create team</button>

            <!-- POKEMON CARD -  Displays Pokemon that have been added to the team  -->
            <h6 *ngIf="pokemonList.length < 1"><em>Please add at least 1 Pokemon to team {{name.value}}</em></h6>
            <h6 *ngIf="pokemonList.length >= 6"><em>**Maximum Pokemon Reached ({{pokemonList.length}})**</em></h6>
            <div *ngIf="pokemonList.length >= 1">
                <mat-card class="pokemon-card" *ngFor="let pokemon of pokemonList">
                    <mat-card-title-group>
                        <mat-card-title>{{pokemon.name | uppercase}}</mat-card-title>
                        <mat-card-subtitle>TYPE: {{pokemon.types[0].type.name | uppercase}}</mat-card-subtitle>
                        <img mat-card-sm-image src="{{pokemon.sprites.front_default}}">
                    </mat-card-title-group>
                    <mat-card-content>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Stats
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p> HP: <span style="font-weight: bold">{{pokemon.stats[0].base_stat}}</span></p>
                                <p> ATTACK: <span style="font-weight: bold">{{pokemon.stats[1].base_stat}}</span></p>
                                <p> DEFENCE: <span style="font-weight: bold">{{pokemon.stats[2].base_stat}}</span></p>
                                <p> SPECIAL-ATTACK: <span
                                        style="font-weight: bold">{{pokemon.stats[3].base_stat}}</span></p>
                                <p> SPECIAL-DEFENCE: <span
                                        style="font-weight: bold">{{pokemon.stats[4].base_stat}}</span></p>
                                <p> SPEED: <span style="font-weight: bold">{{pokemon.stats[5].base_stat}}</span></p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Removes the last pokemon that was added -->
            <button mat-raised-button color="warn" (click)="removePokemon()"
                [hidden]="pokemonList.length <= 0">Remove</button>
        </form>

    </div>
    <!-- Displays all the teams -->
    <div class="team-registration">
        <team-list-item *ngFor="let team of teamList" [team]="team"></team-list-item>
    </div>

</div>