<div class="container">

    <div class="d-flex justify-content-center embed-responsive embed-responsive-21by9">
        <img src="https://c.tenor.com/zQWHcFPU1-gAAAAC/forrest-gump.gif" alt="Forrest Gump GIF - Forrest Gump Forrest Gump GIFs" style="width: 50%; background-color: rgb(183, 182, 175);">
    </div>
    <br>
    <div class="text-center choco-box">
        <a class="title" href="https://github.com/EN-IH-WDPT-JUN21/The-Chocolate-Box-Project-Pokedex-App"><h1>The Chocolate Box Project</h1></a>
        <br>
        <div class="list-group list-group-flush">
            <a href="https://github.com/vivi-chaudiem" class="list-group-item list-group-item-action"><strong>vivi-chaudiem</strong> - <em>Vivi</em></a>
            <a href="https://github.com/jandrevl" class="list-group-item list-group-item-action"><strong>jandrevl</strong> - <em>Joao</em></a>
            <a href="https://github.com/kat-wasik" class="list-group-item list-group-item-action"><strong>kat-wasik</strong> - <em>Katarzyna</em></a>
            <a href="https://github.com/nazerwow" class="list-group-item list-group-item-action"><strong>nazerwow</strong> - <em>Nathan</em></a>
        </div>
    </div>
    
    <div class="d-flex justify-content-center embed-responsive embed-responsive-21by9">
        <img src="https://c.tenor.com/AE4tIubdJacAAAAC/forrest-gump-box-of-chocolates.gif" width="50%"
        height="469.29577464788736" alt="Life GIF - Forrest Gump Box Of Chocolates Life Is Like Chocolates GIFs"
        style="max-width: 833px; background-color: rgb(46, 44, 36);">
    </div>
</div>