.choco-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
    font-family: 'Press Start 2P',
    cursive;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: black;
}